.App {
  font-family: 'Lato', sans-serif; 
  padding: 40px;
  background-color: #fafafa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  max-width: 800px; 
  margin: 50px auto;
}

h1, h2 {
  color: #2c3e50; 
  text-align: center;
  margin-bottom: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #34495e; 
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; 
}

button:hover {
  background-color: #2c3e50;
}

input, textarea, select {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #eaeaea; 
  border-radius: 4px;
  width: 100%;
  font-size: 0.9em;
}

.error {
  color: #e74c3c; 
  margin-top: 20px;
  text-align: center;
  font-weight: 600; 
}

hr {
  border: 0;
  height: 1px;
  background: #eaeaea; 
  margin: 40px 0;
}

.film-item {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: #fff;
}

.film-item h3 {
  margin-top: 0;
  margin-bottom: 15px;
  cursor: pointer; 
  transition: color 0.3s; 
}

.film-item p {
  margin: 0;
}

.film-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-film-btn, .delete-film-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.edit-film-btn:hover {
  color: #007bff;
}

.delete-film-btn:hover {
  color: #dc3545;
}

#add-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  min-width: 40%;     
  max-height: 80%;
  min-height: 40%;    
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.film-item h3:hover {
  color: blue; 
  text-decoration: underline; 
}

.feedback-success {
  color: green;
}

.feedback-error {
  color: red;
}

.jump-buttons-div {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Editor Modal */

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important; 
  z-index: 1000 !important; 
  opacity: 1;
  background-color: rgba(255, 255, 255, 1); 
}

.editable-field {
  display: flex;
  align-items: center; 
  margin-bottom: 8px; 
}

.field-label,
.field-value {
  margin-right: 8px; /* space between label/value and the edit button */
}

.field-input {
  /* styles for the input when editing */
  margin-right: 8px; /* space between input field and the edit button */
}

.edit-button {
  background: none;
  border: none;
  padding: 4px; 
  cursor: pointer;
  font-size: 12px; /* changes the size of the icon */
  display: inline-flex; /* ensures the button doesn't occupy more space than needed */
  color: #333;
}

.edit-button:focus {
  outline: none;
}

.edit-button:hover {
  color: #fff;
}

.done-button,
.cancel-button,
.done-button:hover,
.cancel-button:hover {
    background-color: #d4d4d4;
    border: none;
    margin-left: 5px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.done-button:hover,
.cancel-button:hover {
  background-color: #bfbfbf;
}

.done-button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.modal-button {
  margin-right: 10px;
}